/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.wrapper-particles {
    height: 200px;
    width: 100%;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51, 51, 51, 0.7);
    z-index: 1;
}

.upper {
    z-index: 10;
}

.logo {
    width: auto;
    height: 80px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 480px) {
    .logo {
        height: 50px;
    }
}
